<!--Container-->
<div class="container w-full md:max-w-4xl mx-auto pt-10">
    
    <div class="w-full px-4 md:px-4 text-gray-800 leading-normal">

        <!--Title-->
        <div class="font-sans">
            <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Welcome to the Ethel website.</h1>
            <p class="text-sm md:text-base font-normal text-gray-600">Last updated 27th June 2022</p>
        </div>


        <!--Post Content-->


        <!--Lead Para-->
        <p class="py-6">
            Welcome, this website was made to display information about the 95 Ethel hills in the Peak District of England. Hopefully it will provide you with all the information you need to enjoy walking/exploring them. I've tried to include routes, information, and images of the hills. <a class="underline" target="_blank" href="https://en.wikipedia.org/wiki/List_of_Ethels">Wikipedia has more information on Ethels.</a>
        </p>


        <!--Divider-->
        <hr class="border-b-2 border-gray-400 mb-8">


        <!--Card-->
        <div>

            <table id="example" class="stripe hover text-left" style="width:100%;">
                <thead>
                    <tr>
                        <th data-priority="2">Name</th>
                        <th data-priority="1">Height</th>
                        <th data-priority="4">Lat/Lon</th>
                        <th data-priority="5">County</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each ethels}}
                    <tr>
                        <td><a class="underline" href="/ethel/{{ slug }}">{{ name }}</a></td>
                        <td>{{ height }}</td>
                         <td>{{ lat }}, {{ lon }}</td>
                        <td>{{ county }}</td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>


        </div>
        <!--/Card-->

    </div>
    <!--Divider-->
    <hr class="mt-8 mx-4">

</div>
<!--/container-->
<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script>
		$(document).ready(function() {

			var table = $('#example').DataTable({
					responsive: true,
                     order: [[1, 'desc']],
				})
				.columns.adjust()
				.responsive.recalc();
		});
	</script>
